body{
  height: 100vh;
  background-image: url("../images/wood_texture_tile_alt.jpg");
}

div{
  position:absolute; /*it can be fixed too*/
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  height: 100%;
  width: 100%;
}

img{
  height:100%;
  width:100%;
}
